.top {
  width:100%;
  height:25%;
  background:#b30000;
  box-shadow: 1px 4px 12px 5px rgba(0, 0, 0, 0.5);
  display:flex;
  flex-direction:row;
}

.bottom {
  width:100%;
  height:75%;
  background:#3fa3d5;
}

.top .left {
  width:50%;
  color:white;
  font-size:25pt;
}

.top .right {
  width:50%;
  height:100%;
  display:flex;
  align-content:center;
  flex-wrap:wrap;
}

.top .right button {
  border:none;
  outline:none;
  background:dodgerblue;
  color:white;
  padding:10px;
  border-radius:50px;
  font-size:400%;
  width:max-content;
}

h3 > span {
  font-size:75pt;
}