.top {
  width:100%;
  height:25%;
  background:#b30000;
  box-shadow: 1px 4px 12px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display:flex;
  flex-direction:row;
}

.bottom {
  width:100%;
  height:75%;
  background:#3fa3d5;
  position: absolute;
  right: 0;
  bottom: 0;
}

.top .left {
  width:50%;
  color:white;
  font-size:25pt;
}

.top .right {
  width:50%;
  height:100%;
}

.top .right button {
  position:relative;
  left:50%;
  top:50%;
  transform:translate(0,-50%);
  border:none;
  outline:none;
  background:dodgerblue;
  color:white;
  padding:10px;
  border-radius:50px;
  font-size:50pt;
}

h3 > span {
  font-size:75pt;
}